<%- include("header") -%>


<h1>this is about page of todo website</h1>
<p>sadfasdfsdj nsdj hfsdjf nsdfj hsdkf.anf ksjdhfjn.adsfjadbsfuaefbfb kjsdfh ksjadfnmdsfbebf ,sdf </p>


<%- include("footer")  -%>
